html.dark {
    --x-color: rgb(255, 255, 255);
    --x-shining-v1: #8f41e9;
    --x-shining-v2: #578aef;
    --x-border: rgba(255, 255, 255, 0.09);
    --x-background: rgb(16, 16, 20);
    --x-background-deep: rgb(16, 16, 20);
    --x-background-light: rgb(24, 24, 28);
    --x-text-color: #f8fafc;
}