@import './light.css';
@import './dark.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    color: var(--x-text-color);
}

.n-config-provider {
    height: 100%;
}

.x-collapse .n-collapse-item__content-inner {
    padding-top: 0 !important;
}

.x-collapse .n-collapse-item__header-main {
    padding: 5px 8px;
    color: var(--x-color) !important;
    background-color: var(--x-collapse);
}

.x-collapse .n-collapse-item__header--active .n-collapse-item__header-main {
    border-bottom: 1px solid var(--x-border);
}

.x-collapse.border-top {
    border-top: 1px solid var(--x-border) !important;
}