:root {
    --x-border: rgb(216, 222, 228);
    --x-shining-v1: var(--x-border);
    --x-shining-v2: var(--x-border);
    --x-background: #fff;
    --x-canvas: #f6f6f6;
    --x-collapse: #f6f8fa;
    --x-color: #1f2328;
    --x-navicon: #656d76;
    --x-modal: rgb(255, 255, 255);
    --x-modal-border: var(--x-border);
    --x-text-color: #1d1d1f;
}