:root {
    --x-border: #d9d9d9;
    --x-background: rgb(255, 255, 255);
    --x-background-deep: #f5f5f5;
    --x-background-light: rgb(255, 255, 255);
    --x-shining-v1: var(--x-border);
    --x-shining-v2: var(--x-border);
    --x-color: #666;
}

html.dark {
    --x-color: rgb(255, 255, 255);
    --x-shining-v1: #8f41e9;
    --x-shining-v2: #578aef;
    --x-border: rgba(255, 255, 255, 0.09);
    --x-background: rgb(16, 16, 20);
    --x-background-deep: rgb(16, 16, 20);
    --x-background-light: rgb(24, 24, 28);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.x-collapse-item .n-collapse-item__content-inner {
    padding-top: 0 !important;
}

.x-collapse-item .n-collapse-item__header-main {
    padding: 5px 8px;
    color: var(--x-color) !important;
    background-color: var(--x-background-light);
}

.x-collapse-item .n-collapse-item__header--active .n-collapse-item__header-main {
    border-bottom: 1px solid var(--x-border);
}

.x-collapse-item.border-top {
    border-top: 1px solid var(--x-border) !important;
}