@import './light.css';
@import './dark.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.n-config-provider {
    height: 100%;
}


.collapse-item .n-collapse-item__content-inner {
    padding-top: 0 !important;
}

.collapse-item .n-collapse-item__header-main {
    padding: 5px 8px;
    color: var(--x-color) !important;
    background-color: var(--x-collapse);
}

.collapse-item .n-collapse-item__header--active .n-collapse-item__header-main {
    border-bottom: 1px solid var(--x-border);
}

.collapse-item.border-top {
    border-top: 1px solid var(--x-border) !important;
}

.fit-edge .n-scrollbar-rail.n-scrollbar-rail--vertical {
    right: 0 !important;
}

.ghost-node {
    opacity: 1 !important;
}

.ghost-indicator {
    border: none !important;
    border: 1px dashed #2080F0 !important;
}

.ghost-indicator>* {
    visibility: hidden !important;
}